@import "configs", "footer", "header", "resets", "buttons";


/*HERO CONTENT*/
section.herocontent {
    position: relative;
    text-align: center;
    background-color: white;
    max-width: 100%;
    height: 100%;

    .bg-img {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        background-image: url('../assets/icons/bg-hero.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    & img {
        left: 0;
        padding: 0 30px 30px 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .text-align {
        top: 0;
        position: absolute;
        height: 100%;
    }
}

/*Solutions*/
section.solutions {
    margin: 8% 0;

    .first-list {
        margin-top: 8%;
    }

    .second-list {
        margin-top: 8%;
    }

    .info-text {
        margin-top: 8%;
    }

    .red-arrow {
        margin-bottom: 8%;
    }

    .numbered-list {
        margin-bottom: 5%;

        .number {
            display: inline-block;
            vertical-align: middle;
            max-width: 30%;
            padding: 20px;
            font-style: normal;
            font-weight: 900;
            font-size: 46px;
            letter-spacing: .1em;
            color: rgba(222, 30, 64, .3);
        }

        .text {
            display: inline-block;
            vertical-align: middle;
            max-width: 70%;
        }
    }

    .swiper {
        width: 100%;
        height: 450px;
    }

    .swiper-slide {
        width: 580px;
    }

    .swiper-img {
        object-fit: cover;
        width: 100%;
    }

    .swiper-span {
        padding-top: 20px;
        color: $dark-gray;
        font-weight: 400;
        font-size: 14px;
    }

    .swiper-button-prev {
        bottom: 0;
        top: auto;
        left: auto;
        right: 80px;
    }

    .swiper-button-prev::after {
        content: '';
    }

    .swiper-button-next {
        bottom: 0;
        top: auto;
        left: auto;
        right: 10px;
    }

    .swiper-button-next::after {
        content: '';
    }
}

/*Experience*/
section.experience {
    max-width: 100%;
    overflow: hidden;
    min-height: 60%;
    height: 60%;
    background-image: url('../assets/icons/experience-bg.png');

    .experience-title {
        top: 40%;
    }

    .title {
        margin-bottom: 30px;
    }

    .img-bg {
        margin: 0;
        padding: 0;
        min-width: 100%;
        min-height: 38rem;
        display: table;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .big-red-arrow {
        min-height: 150%;
        background-image: url('../assets/icons/big-red-arrow.svg');
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 100%;
        margin: 0;
    }

    .row {
        align-items: center;
        justify-content: center;
    }

    .exp-numbers {
        padding: 30px;
    }

    .exp-numbers-border {
        padding: 0 40px;
        margin: 0 20px;
        border-right: 2px solid;
        border-left: 2px solid;
    }

    .plus-numb {
        font-size: 56px;
        font-weight: 500;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .exp-icon {
        display: inline-block;
        padding-right: 10px;
        width: 4x0px;
    }

    .text {
        display: inline-block;
        vertical-align: middle;
    }

}

/*Testimonials*/
section.testimonials {
    padding: 60px 0;

    .swiper {
        background-image: url('../assets/icons/testemonials-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 560px;
    }

    .swiper-slide {
        padding: 80px 17%;
    }

    .testimonial-text {
        font-size: 20px;
    }

    .name {
        font-size: 22px;
        font-weight: 700;
        margin-top: 20px;
    }

    .job {
        font-weight: 400;
        margin-top: 18px;

    }

    .swiper-button-prev {
        bottom: 30px;
        top: auto;
        left: 20%;
        right: auto;
    }

    .swiper-button-prev::after {
        content: '';
    }

    .swiper-button-next {
        bottom: 30px;
        top: auto;
        left: 28%;
        right: auto;
    }

    .swiper-button-next::after {
        content: '';
    }

}


/*Forms*/
section.forms {
    max-width: 100%;
    overflow: hidden;
    padding: 100px 0;
    background-image: url('../assets/bg/form-bg.png');

    .form-wrap {
        background-color: rgba(0, 0, 0, 0.57);
        padding: 70px;
    }

    .img-bg {
        max-width: 100%;
    }
}



/*Media Query*/

/*Hero Content*/
@media only screen and(max-width:$breakpoint-tablet) {
    section.herocontent {
        & img {
            width: 100%;
            min-height: 100%;
            padding: 0 20px 20px 0;
            margin: 0;
        }

        h1 {
            padding-right: 15px;
        }
    
        .bg-img {
            height: 70vh;
            object-fit: contain;
            padding: 0 10px 10px 0;
        }
    }
}

/*Solutions*/

@media only screen and(max-width:1200px) {
    section.solutions {
        .swiper {
            height: 350px;
        }

        .swiper-slide {
            width: 450px;
        }

        .swiper-img {
            width: 450px;
            width: 100%;
        }
    }
}

@media only screen and(max-width:990px) {
    section.solutions {
        .swiper {
            height: 500px;
        }

        .swiper-img {
            width: 650px;
        }

        .red-arrow {
            padding-top: 80px;
            margin-bottom: 2%;
        }

        .second-list {
            flex-direction: column-reverse;
            margin-top: 150px;
        }
    }

}


@media only screen and(max-width:$breakpoint-tablet) {
    section.solutions {
        .second-list {
            margin-top: 8%;
        }

        .swiper {
            height: 400px;
        }

        .swiper-slide {
            width: 80%;
        }

        .swiper-img {
            width: 500px;

        }

        .swiper-button-prev {
            left: 10px;
        }

        .swiper-button-next {
            left: 60px;
        }
    }
}

@media only screen and(max-width:$breakpoint-mobile) {
    section.solutions {

        .info-text {
            margin: 0 0 40px 0;
        }

        .btn-red{
            margin-bottom: 50px;
        }

        .swiper-wrapper {
            width: 100%;
        }

        .swiper-img {
            max-width: 90%;
            object-fit: cover;

        }

        .swiper-button-next, .swiper-button-prev{
            display: none;
        }

        .swiper {
            height: 100%;
        }

        .numbered-list {
            .text {
                max-width: 60%;
            }
        }
    }
}


/*Experience*/
@media only screen and(max-width:$breakpoint-laptop) {
    section.experience {

        .experience-title {
            top: 30%;
        }

        .plus-numb {
            font-size: 25px;
        }
    }
}

@media only screen and(max-width:$breakpoint-tablet) {
    section.experience {
        flex-direction: column;

        .experience-title {
            top: 20%;
        }

        .big-red-arrow {
            background-image: none;
        }

        .row {
            flex-direction: column;
        }

        .bg-numb {
            background-color: $second-color;
            margin: 5% 10%;
            padding: 0;
        }

        .exp-numbers {
            display: inline-block;
            padding: 0;
            width: 300px;
            margin: 5% 0;
        }

        .exp-numbers-border {
            display: block;
            border: none;
            margin: auto;
            padding: 0;
            width: 300px;
            margin: 30px 0;

        }

        .plus-numb {
            font-size: 40px;
            margin: auto;
        }
    }
}

@media only screen and(max-width:$breakpoint-mobile) {
    section.experience {
        flex-direction: column;

        .experience-title {
            top: 15%;
        }

        .bg-numb {
            padding: 0;
            margin: 4%;
        }

        .container-fluid {
            width: 90vh;
            margin: auto;
        }

        .plus-numb {
            font-size: 40px;
            margin: auto;
        }
    }
}


/*Testimonials*/
@media only screen and(max-width:$breakpoint-laptop) {
    section.testimonials {
        padding: 60px 0;

        .swiper {
            background-size: 100%;
            background-image: none;
            height: 500px;
        }

        .swiper-slide {
            top: 10%;
            padding: 0px 60px;
        }

        .testimonial-text {
            font-size: 16px;
            line-height: 1.5;
        }

        .name {
            font-size: 18px;
        }

        .job {
            margin: 0;
            font-size: 16px;
        }

        .swiper-button-prev {
            bottom: 70px;
            top: auto;
            left: 70PX;
            right: auto;
        }

        .swiper-button-next {
            bottom: 70px;
            top: auto;
            left: 130px;
            right: auto;
        }
    }
}

@media only screen and(max-width:$breakpoint-tablet) {
    section.testimonials {
        .quote-icon {
            margin-top: 50px;
        }

        .swiper {
            padding: 0;
            height: 550px;
        }
    }
}

@media only screen and(max-width:$breakpoint-mobile) {
    section.testimonials {
        .quote-icon {
            margin-top: 30px;
        }

        .swiper {
            background-image: none;
            width: 100%;
            padding: 0;
            height: 480px;
            top: 0;
            margin-bottom: 50px;
        }

        .swiper-slide {
            padding: 0;
            top: 5%;
        }

        .swiper-button-next {
            left: 70px;
            bottom: 30px;
        }

        .swiper-button-prev {
            left: 10px;
            bottom: 30px;
        }
    }
}

/*Forms*/

@media only screen and(max-width:$breakpoint-laptop) {
    section.forms {
        .form-wrap {
            padding: 40px;
        }

        .btn {
            margin-top: 10px;
        }
    }
}

@media only screen and(max-width:$breakpoint-mobile) {
    section.forms {
        .col-6 {
            width: 100%;
        }

        .btn {
            margin: 0;
        }

        .form-wrap {
            padding: 0;
            background-color: transparent;
        }
    }
}